h1 {
  text-decoration: underline;
}

body {
    background-image: url("/images/grey_wash_wall.png");
    background-color: #aaaaaa;
}

/* Simple text widget styles */
/* TODO is this even meaningful anymore? */

.widget-light {
    background: #fff;
}

.widget-dark {
  background-image: linear-gradient(to top, rgb(16, 16, 16), rgb(96, 96, 96) );
}

.widget .title-wrapper {
    width: 100%;
}
.widget .title-wrapper .title {
    padding: 10px;
}

.spacing {
  columns: 2
  column-gap: 5px;
}

.move-cursor {
    cursor:move;
}

.menu-cursor {
    cursor:context-menu;
}
