h1 {
  text-decoration: underline;
}

body {
    background-image: url("/images/grey_wash_wall.png");
    background-color: #cccccc;
}

/* Simple text widget styles */
/* TODO move to dashboard codebase */

.widget {
    background: #fff;
}

.widget .title-wrapper {
    width: 100%;
}
.widget .title-wrapper .title {
    padding: 10px;
}


.move-cursor {
    cursor:move;
}

.menu-cursor {
    cursor:context-menu;
}
